<script type="application/javascript">Backend.autoSubmit('{{ table }}');</script>

<div class="tl_box">
    <div class="widget">
        {# Contao default spinner #}
        <img src="system/themes/flexible/icons/loading.svg" alt="Loading…" width="20px" height="20px">
    </div>
</div>
