.widget-group {
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      width: 24px;
      height: 24px;
      background-size: 16px 16px;
      background: none no-repeat center;
      border: none;
      border-radius: 50%;
      transition: all .1s;

      &:hover {
        background-color: #f9f9f9;
        box-shadow: #d0d0d2 0 0 1px 1px;
      }

      &[data-up] {
        background-image: url('../../../system/themes/flexible/icons/up.svg');
      }

      &[data-down] {
        background-image: url('../../../system/themes/flexible/icons/down.svg');
      }

      &[data-drag] {
        background-image: url('../../../system/themes/flexible/icons/drag.svg');
        cursor: move;
      }

      &[data-remove] {
        background-image: url('../../../system/themes/flexible/icons/delete.svg');
      }

      &[data-add] {
        background-size: 18px 18px;
        background-image: url('../../../system/themes/flexible/icons/new.svg');
      }

      &:disabled, &.disabled {
        filter: grayscale(100%) opacity(0.5);
      }
    }
  }

  .drop-area {
    &::after {
      padding-top: 10px;
      border-bottom: 4px solid transparent;
      display: block;
      content: '';
    }

    &.dropping::after {
      border-color: #0f1c26;
    }
  }

  .widget-group--header {
    margin-bottom: -4px;

    p {
      margin-top: 2px;
    }
  }

  .widget-group--container {
    display: flex;
    flex-direction: column;
  }

  .widget-group--element {
    position: relative;
    min-height: 94px;

    margin-top: 24px;
    margin-right: 12px;
    margin-left: 26px;
    margin-bottom: 0;
    padding-bottom: 12px;

    background-color: #f9f9f9;
    border: 1px solid #d0d0d2;
    border-radius: 4px;

    .controls {
      position: absolute;
      top: 4px;
      left: -32px;

      padding-right: 2px;
      padding-left: 2px;
    }

    &.drag > *:not(.drop-area) {
      opacity: .5;
      transition: opacity .2s;
    }

    .drop-area {
      position: absolute;
      top: -25px;
      height: 25px;
      left: -26px;
      right: -1px;
    }
  }

  .widget-group--footer {
    .controls {
      margin-top: 4px;
    }
  }
}
